DB_HOST=stockcito-rds.xxxxxx.us-east-1.rds.amazonaws.com
DB_PORT=3306
DB_NAME=stockcito_db
DB_USER=stockcito
DB_PASSWORD=cambia-esta-password
JWT_SECRET=cambia-esta-clave-larga-y-segura
JWT_EXPIRATION_SECONDS=86400
