# Carpetas generadas
build/
dist/

# Logs
*.log

# Variables locales y secretos
.env
.env.prod

# Archivos temporales
*.tmp

# Mac
.DS_Store

# Configuración local de NetBeans
nbproject/private/

# Tomcat
apache-tomcat*/

# Archivos compilados
*.class

aws.json